
<div class="center"><form method="get" action="/"  >
    <button class="hbutton" type="submit">Go Home</button>
    </form>
    </div>


<div class="center"><h2>Add new class</h2>
<form id="addclass" action="/classes" method="post">

    <select class="center" type="number" name ="classGrade">        
            <option value=1>First grade </option>
            <option value=2>Second grade </option>
            <option value=3>Third grade </option>
            <option value=4>Fourth grade </option>
            <option value=5>Fifth grade </option>
    </select><br>
    <div class="center">
        <input type="submit" value="Add" id="sbutton">
    </div>
</form>
 </div>
<br/>

<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>Class ID</th>
        <th>Grade</th>
        <th>Teacher</th>
        <th>Delete</th>
        <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each classes}}
        <tr>
            <td>{{classID}}</td>
            <td>{{classGrade}}</td>
            <td>{{classTeacher}}</td>
            <td><button onclick="deleteClass({{classID}})" id="abutton">Delete</button></td>
            <td>
                <button><a href="/classes/{{classID}}" id="button">Update</a></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>