<html>
<h1>Updating <br>
<h2>Class Id: {{class.classID}} <br>Grade {{class.classGrade}} {{teachers.teacherLname}}</h2>

<div class="center">No Available Teachers? Go to teacher page to add new teacher.</div>
<div class="center"><form method="get" action="/teachers"  >
    <button class="hbutton" type="submit">Go to Teachers</button>
    </form>
    </div>
    
<form class="center" id="update-class" action="/classes" method="post"></h2>

    
    Grade: <select type="number" name ="classGrade">
            <option value=1>First grade teacher</option>
            <option value=2>Second grade teacher</option>
            <option value=3>Third grade teacher</option>
            <option value=4>Fourth grade teacher</option>
            <option value=5>Fifth grade teacher</option>
    </select><br>
    
    Teacher: <select name="teacherID" id="teacher-selector"> 
            <option value="{{teacherID}}">{{teacherFname}} {{teacherLname}} ID:{{class.classTeacher}}</option></option>
        {{!-- {{#each teachers}}
            <option value="{{teacherID}}"> {{personteacherFName}} {{person.teacherFName}} ID:{{teacherID}}</option>
        {{/each}} --}}
            {{#each teachers}}
            <option value="{{teacherID}}"> ID:{{teacherID}}, {{teacherFName}} {{teacherLName}}</option>
            {{/each}}
    </select><br>
   
</form>
<script defer>selectTeacher({{teacherID}});</script>
<button class="center" onclick="updateClass({{class.classID}})" id="sbutton">Update</button>

</html>