<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Age</th>
        <th>Grade</th>
        <th>Class</th>
        <th>Teacher</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each students}}
        <tr>
            <td>{{studentID}}</td>
            <td>{{studentFName}}</td>
            <td>{{studentLName}}</td>
            <td>{{studentAge}}</td>
            <td>{{studentGrade}}</td>
            <td>{{studentClass}}</td>
            <td>{{studentTeacher}}</td>
            <td><button><a href="/teachers'{{teacherID}}">Delete</a></button></td>
            <td><a href="/update-teacher/{{teacherID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>