
<div class="center"><form method="get" action="/"  >
    <button class="hbutton" type="submit">Go Home</button>
    </form>
    </div>

<form id='search_students' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Search people for first name starting with:</label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
    <input type="button" value="Search" onclick="searchStudentByFirstName()">
</form>


<form id='filter_students' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by class </label>
    <select id='class_filter' name="class"> 
        {{#each classes}}
        <option value="{{classID}}">{{classID}}</option>
        {{/each}}
    </select><br>
    <input type="button" value="Filter" onclick="filterStudentByClass()">
</form>

<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Age</th>
        <th>Class</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each students}}
        <tr>
            <td>{{studentID}}</td>
            <td>{{studentFName}}</td>
            <td>{{studentLName}}</td>
            <td>{{studentAge}}</td>
            <td>{{studentClass}}</td>>
            <td><button onclick="deleteStudent({{studentID}})">Delete</a></button></td>
            <td><a href="/students/{{studentID}}">Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>