<img src="https://1635225677.rsc.cdn77.org/images/why_should_young_students_be_encouraged_to_learn_programming.jpg" alt= "loading image">

<div class="center"><form method="get" action="/"  >
    <button class="hbutton" type="submit">Go Home</button>
    </form>
    </div>
<div class="center"><form method="get" action="/students"  >
    <button class="hbutton" type="submit">Reset to Full Table</button>
    </form>
    </div>

<div class="center">
<form id='search_students' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> </label>
    <input id='first_name_search_string' type='text' name='first_name_search_string' value='' placeholder="Search by First Name">
    <input type="button" id="sbutton" value="Search" onclick="searchStudentByFirstName()">
</form>
</div>
<div class="center">
<form id='filter_students' action='' method=''>
<!--- this form does not submit directly, the button handles all the interaction with backend -->
    <label> Filter by Class</label>
    <br>
    <select id='class_filter' name="class"> 
        {{#each classes}}
        <option value="{{classID}}">{{classID}}</option>
        {{/each}}
        <input type="button" id="sbutton" value="Filter" onclick="filterStudentByClass()">
    </select>
    
</form>
<br>
</div>


<div class="center"><h2>Add a Student</h2>
<form id="addstudent" action="/students" method="post">
    <input type="text" name="studentFName" placeholder="First Name"><br>
    <input type="text" name="studentLName" placeholder="Last Name"><br>
    <select class="center" type="number" name ="studentAge">        
            <option value=5>5 years old </option>
            <option value=6>6 years old </option>
            <option value=7>7 years old </option>
            <option value=8>8 years old</option>
            <option value=9>9 years old</option>
    </select>

    Class: <select name="studentClass" id="class-selector"> 
        {{#each classes}}
            <option value="{{classID}}">Class {{classID}}</option>
        {{/each}}
    </select><br>

    <div class="center">
        <input type="submit" value="Add" id="sbutton">
    </div>

 </form>
 </div>
<br/>
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>ID</th>
        <th>First</th>
        <th>Last</th>
        <th>Age</th>
        <th>Class</th>
        <th>Delete</th>
        <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each students}}
        <tr>
            <td>{{studentID}}</td>
            <td>{{studentFName}}</td>
            <td>{{studentLName}}</td>
            <td>{{studentAge}}</td>
            <td>{{studentClass}}</td>
            <td><button onclick="deleteStudent({{studentID}})" id="abutton">Delete</button></td>
            <td>
                <button><a href="/students/{{studentID}}" id="abutton">Update</a></button>
        </tr>
        {{/each}}
    </tbody>
</table>





