<html>
<h1>Updating <br>
<h2>Student Id: {{students.studentID}} <br>{{students.studentFName}} {{students.studentLName}} <br> Currently class {{students.studentClass}}</h2>
<form class="center" id="update-student" action="/students" method="post"></h2>

    First name: <input type="text" name="studentFName" value="{{students.studentFName}}"><br>
    Last name: <input type="text" name="studentLName" value="{{students.studentLName}}"><br>
    Change or Assign Class: <select name="studentClass" id="class-selector" selected={{students.studentClass}}> 
        {{#each classes}}
            <option value="{{classID}}"> With {{teacherFName}} {{teacherLName}} ID:{{classID}}</option>
        {{/each}}
    </select><br>
   
</form>
<script defer>selectClass({{classID}});</script>

<button class="center" onclick="updateStudent({{students.studentID}})" id="sbutton">Update</button>


</html>