<html>
<h1>Updating <br>
<h2>Tasks ID: {{task.taskID}} <br>Class ID:{{task.taskClass}}</h2>
<form id="update-task" action="/tasks" method="post"></h2>

    Description: <input type="text" name="taskDescription" value="{{task.taskDescription}}"><br>


    {{!-- Class: <select name="teacherClass" id="class-selector"> 
        {{#each classes}}
            <option value="{{classID}}">Class {{classID}} Teacher {{teacherLName}} {{teacherLName}}</option>
        {{/each}}
    </select><br> --}}
   
</form>
<button onclick="updateTask({{task.taskID}})" id="sbutton">Update</button>
{{!-- <script defer>selectClass({{teacherClass}});</script> --}}
</html>