<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYDXQUXn3awZ3RTcNzyvVRJ5uqG23pRaEMHA&usqp=CAU" alt= "loading image">
<div class="center"><form method="get" action="/"  >
    <button class="hbutton" type="submit">Go Home</button>
    </form>
    </div>

<div class="center"><h2>Add a task</h2>
<form id="addtask" action="/tasks" method="post">
    <input type="text" name="taskDescription" placeholder="Input task description"><br>
    Class: <select name="taskClass" id="class-selector"> 
        {{#each classes}}
            <option value="{{classID}}">Class {{classID}}</option>
        {{/each}}
    </select><br>

    <div class="center">
        <input type="submit" value="Add" id="sbutton">
    </div>

 </form>
 </div>
<br/>
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
        <th>ID</th>
        <th>Description</th>
        <th>Class</th>
        <th>Delete</th>
        <th>Update</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each tasks}}
        <tr>
            <td>{{taskID}}</td>
            <td>{{taskDescription}}</td>
            <td>{{taskClass}}</td>
            <td><button onclick="deleteTask({{taskID}})" id="sbutton">Delete</button></td>
            <td>
                <button id="sbutton"><a href="/tasks/{{taskID}}">Update</a></button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>