<html>
<h1>Update {{person.teacherID}} : {{person.teacherFname}} {{person.teacherLname}}:</h1>
<form id="update-teacher" action="/teachers" method="post">

    First name: <input type="text" name="teacherFname" value="{{person.teacherFname}}"><br>
    Last name: <input type="text" name="teacherLname" value="{{person.teacherLname}}"><br>
    Grade: <input type="number" name="teacherGrade" value="{{person.teacherGrade}}"><br>
    Class: <select name="teacherClass" id="class-selector"> 
        {{#each classes}}
            <option value="{{classID}}">{{person.classID}}</option>
        {{/each}}
    </select><br>
   
</form>
<button onclick="updateTeacher({{person.teacherID}})">Update</button>
<script defer>selectClass({{teacherClass}});</script>
</html>